<div>
  <style>
    body
    {
      background-color: rgb(176, 231, 238);
    }
  </style>
</div>



<div class="container mt-5">
    <h2 style="align-items: center;">Eligibel Student</h2>
    
    
    <form id="educationForm">
 
   
      
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <label for="textbox1" class="form-label">10th</label>
            <input type="text" class="form-control" id="textbox1" placeholder>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="textbox2" class="form-label">12th</label>
            <input type="text" class="form-control" id="textbox2" placeholder>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="textbox3" class="form-label">sem4</label>
            <input type="text" class="form-control" id="textbox3" placeholder>
          </div>
        </div>
      </div>


      <button type="submit" class="btn btn-primary">Student List</button>
    </form>
  </div>

