<div>
  <style>
    .textarea
    {
      align-items: center;
    }
   .body
  {
    background-color: rgb(165, 230, 230);
  }
  h1 {
      text-align: center;
      color: #db1919;
      margin-bottom: 30px;
    }
    h4 {
    margin: 30px;
    line-height: 1.5;
  }
  .about-container {
      background-color:   #c1dcea; 
      
    }

  </style>
</div>
<div class="about-container">
    <h1  > ABOUT US</h1>
      <h4>
        
        The Placement Cell at College of Computer Application for Women, Satara works round the clock to ensure that our students are well equipped to 
        take up the challenges of the professional environment. Placement &amp; Training plays a major role in shaping up the career goals of students. The Training &amp; Placement Cell plays a crucial role in providing job opportunities <br> for students  with the help of Maharshi Karve Stree Shikshan Samstha, (MKSSS), Pune. 
        Our aim is to provide Guidance and assistance to girl students to achieve their career goals as per their expectation in concern stream. Cell has its own schedule which is implemented semester wise throughout whole year. 
        <br><br>
        The Placement Cell organizes career guidance programmes for students. To enhance employability skills of the students Placement cell arranges training programmes like Employability and skill development programs, 
        Mock Interviews, Group Discussions, Communication Skills Workshop, Guidance for resume writing, providing Platform to Share their experiences who are recruited by Campus. <br>The number of students placed through the campus interviews is continuously rising.
        <br><br>
        Training Programs organized by Training and Placement Cell<br> 
        <br>1. Employability Skill Development Program
        <br>2. Group Discussion Practice
        <br>3. Mock Interview Sessions
        <br>4. Aptitude Tests
        <br>5. Technical Tests
        <br>6. Industry Internship Programs
        <br>7. Career Counseling
        
        <br>
        <br>
        Asst. Prof. Seema Sachin Patil
        <br>(Training and Placement Officer)
        </h4>
      </div>