<div>
  <style>
    body
    {
      background-color: rgb(176, 231, 238);
      padding: 30px;
      border-radius: 10px;
      width: fit-content;
      margin: auto;
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  </style>
</div>

<div class="container">
  <h2 style="align-items: center;">Members</h2>
  <div class="container" >
            <div class="card" style="width:400px">
      <br>
      <div class="card-body">
        <h4 class="card-title">Mrs. Seema Sachin Patil</h4>
        <p class="card-text">Department Head</p>
        </div>
    </div>
    <br>
    
    
    <div class="card" style="width:400px">
      <div class="card-body">
        <h4 class="card-title">Mrs.Yashashri Vinayak Jadhav</h4>
        <p class="card-text">Department Member</p>
        </div>
      
    </div>
  </div>
</div>