<div>
    <style>
        .div-container
        {
          background-color: rgb(176, 231, 238);
        }
    
        h2
        {
          align-items: center;
        }
        .div-container {
          background-color:   #c1dcea; 
          
        }
      </style>
    
  </div>

<div class="container">
 <div class="col-sm-12">
    <h2 class="text-center mb-4" style="font-family: Impact, 'Arial Narrow Bold';font-size: 50px;"><br>View Data<br></h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead >
                <tr>
                    <th>Company Name</th>
                    <th>Registration link</th>
                    <th>DueDate</th>
                    
                </tr>
            </thead>
            <tbody id="View Data">
                <tr *ngFor="let a of varr">
                    <td>{{a.companyname}}</td>
                    <td>{{a.registrationlink}}</td>
                    <td>{{a.duedate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>
</div>