<style>
  h2
  {
    align-items: center;
  }
</style>


<div style="background: #c1dcea;">

  <div class="container mt-3" style="align-items: center;">
    <h2>2021-24</h2>
     <div>         
        <img src="student.jpg" class="d-flex align-items-center justify-content-center" style="width: 130vh; height: 50vh; margin: 0; padding-left: 300px;   align-items: center;" >
        <br>
        <br>
        <img src="sndt123.jpg" class="d-flex align-items-center justify-content-center" style="width: 130vh; height: 50vh; margin: 0; padding-left: 300px;   align-items: center;" >
     </div>
  </div>
</div>
