<div>
    <style>
        
        .login-box {
          background: rgba(124, 133, 224, 0.9);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        body
  {
    background-color: rgb(138, 198, 198);
  }
       
    </style>
</div>
<div style="background: #c1dcea;">
<div class="container"  style="margin-top: 20px;">
    <div class="row justify-content-center">
        <div class="col-md-4" height="10px">
            <div class="login-box">
                <h3 class="text-center mb-4">Student Login</h3>
                <form  (ngSubmit)="submitdata()">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email" required name="email"  [(ngModel)]="a.email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter your password" requrequired name="password"  [(ngModel)]="a.password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="remember">
                        <label class="form-check-label" for="remember">Remember Me</label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>

            </div>
        </div>
    </div>
</div>
</div>