<div>
  <style>
   
    .studentlogin
    {
      text-align: center;
    }
    body
  {
    background-color: rgb(200, 233, 233);
  }
     
  nav:hover 
  
    a:hover {
  background-color: rgb(206, 206, 203);
  font-size: 18px;
}
</style>
</div>

<div style="background: #c1dcea;">
<div class="container mt-3"  >
    <h1 style="text-align: center; color: #db1919;" > TRAINING & PLACEMENT CELL</h1>
     <div class="btn-group-vertical" class="center">
       <button><a routerLink="/aboutus">ABOUT US</a></button>
       <br>
       <button><a routerLink="/member">MEMBERS</a></button>
     </div>
     <img src="1234.jpg" class="d-flex align-items-center justify-content-center" style="width: 130vh; height: 50vh; margin: 0; padding-left: 300px;   align-items: center;" >
   </div>
</div> 
